Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

Unattended-Upgrade::Package-Blacklist {
};

Unattended-Upgrade::DevRelease "auto";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ 'true' if auto_update_remove_unused | bool else 'false' }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ 'true' if auto_update_remove_unused | bool else 'false' }}";
Unattended-Upgrade::Automatic-Reboot "{{ 'true' if auto_reboot | bool else 'false' }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "false";
{% if auto_update_mail | length > 0 %}
Unattended-Upgrade::Mail "{{ auto_update_mail }}";
Unattended-Upgrade::MailReport "on-change";
{% endif %}
